Membership.CitizenService/Service References/CitizenService/CitizenService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/nish.service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/nish.service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CitizenType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CitizenType" nillable="true" type="tns:CitizenType" />
</xs:schema>